body{
    padding: 0;
    margin: 0;
}
.header{
    position: relative;
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
}
.logo{
    margin: 30px 0% 30px 5%;
}
.nav{
    margin: 30px 5%;
    display: flex;
    align-items: center;
    text-align: center;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav li a{
    text-decoration: none;
    color: black;
    margin: 0px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.nav li a:hover{
    color: rgb(255, 5, 68);
}
.nav input{
    margin-left: 10px;
    border: none;
    background-color: rgb(1, 1, 93);
    color: rgb(237, 255, 44);
    height: fit-content;
    padding: 12px 40px;
    border-radius: 20px;
    border: 1px solid rgba(255, 5, 68, 0);
}
.nav input:hover{
    border: 1px solid rgb(255, 5, 68);
    background-color: white;
    color: rgb(255, 5, 68);
}
.checkbtn{
    display: none;
    font-size: 20px;
    float: right;
    line-height: 80px;
    /* margin-right: 170px; */
}
#check{
    display: none;
}
.section2{
    margin: -60px 5% 0px 5%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section2 .container{
    width: 45%;
}
.container h6, .text h6, .head h6, .content h6, .content1 h6{
    display: inline;
    background-color: rgba(255, 134, 74, 0.363);
    color: rgb(198, 89, 21);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    margin: 0;
}
.container input{
    background-color: rgb(1, 1, 93);
    color: rgb(237, 255, 44);
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid rgba(255, 5, 68, 0);
    margin-right: 10px;
}
.text p{
    color: rgba(0, 0, 0, 0.707);
    margin-top: -15px;
    font-size: 16px;
}
.container input:hover{
    border: 1px solid rgb(255, 5, 68);
    background-color: white;
    color: rgb(255, 5, 68);
}
.img{
    width: 45%;
}
.img img{
    width: 100%;
}
.section3{
    margin: 20px 5% 0px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.section3 .text{
    width: 500px;
}
.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5% 0%;
}
.feature{
    width: 250px;
    margin: 15px;
}
.feature i{
    transform: scale(2);
    color: rgb(255, 5, 68);
}
.section4 ul{
    list-style:none;
    margin-left: -40px;
}
.section5 .head{
    display: flex;
    flex-direction: column;
}
.head h1, .content h1, .text h1, .content1 h1{
    font-size: 35px;
}
.border{
    width: 300px;
    border: 1px solid rgba(255, 5, 68, 0.181);
    margin: 2%;
    height: 250px;
    display: flex;
}
.icon{
    width: 80px;
}
.content{
    width: 220px;
    text-align: left;
    margin-right: 15px;
}
.border i{
    transform: scale(2.5);
    color: rgb(255, 5, 68);
    margin-top: 40px;
}
.content1{
    width: 60%;
}
.slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%;
    width: 100%;
}
.card{
    height: 260px;
    width: 210px;
    border: 1px solid rgba(255, 5, 68, 0.181);
    margin: 2%;
    padding: 20px;
}
.card:hover{
    border: 1px solid rgb(255, 5, 68);
}
.desi{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.desi span{
    font-size: 14px;
}
.desi img{
    background-color: aqua;
    height: 25px;
    width: 25px;
    margin: 0px 10px;
    border-radius: 50%;
}
.footer{
    background-color: whitesmoke;
    padding: 5%;
}
.info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about{
    width: 380px;
    margin: 0px 2%;
}
.link i{
    margin: 5px;
}
.fa-facebook-f:hover{
    color: rgb(7, 56, 237);
}
.fa-twitter:hover{
    color: aqua;
}
.fa-instagram:hover{
    color: rgb(252, 20, 198);
}
.fa-youtube:hover{
    color: red;
}
.pages{
    width: 80px;
    margin: 0px 2%;
}
.res{
    width: 100px;
    margin: 0px 2%;
}
.contact{
    width: 180px;
    margin: 0px 2%;
}
#copy{
    text-align: center;
}
@media (max-width:840px) {
    .header{
        width: 100%;
        height: auto;
    }
    .nav ul{
        flex-direction: column;
    }
    .nav input{
        transform: scale(.75);
    }
    .checkbtn{
        display: block;
    }
    .header .nav ul{
        position: fixed;
        width: 30%;
        height: 100vh;
        z-index: 1;
        background-color: rgb(234, 179, 179);
        top: 100px;
        left: -100%;
        transition: all 1s; 
    }
    .header .nav ul li{
        line-height: 25px;
        clear: both;
        margin-top: 15px;
    }
    .nav ul li{
        margin-left: -25%;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .section2{
        flex-direction: column;
        height: fit-content;
        margin: 50px 0px;
        width: 100%;
    }
    .btn input, .container input{
        transform: scale(.7);
        margin: 0px;
    }
    .section2 .container{
        width: 80%;
        margin-bottom: 20px;
    }
    .section3, .section5{
        margin: 0;
    }
    .section3 .text{
        margin: 0px;
        width: 100%;
    }
    .section3 .text{
        width: 80%;
    }
    .border{
        transform: scale(.8);
        margin: 0;
    }
    .footer .info{
        flex-direction: column;
    }
    .about{
        width: 80%;
    }
}
@media (max-width: 450px) {
    .logo img{
        width: 50px
    }
    .nav input{
        padding: 10px 20px;
        margin-right: -20px;
    }
    .header .nav ul{
        left: -130%;
    }
    .nav ul li{
        margin-left: -25%;
    }
    .checkbtn{
        margin-right: -10px;
    }
    .header .nav ul{
        width: 100%;
    }
    .container h6, .text h6, .head h6, .content h6, .content1 h6{
        font-size: 10px;
    }
    .head h1, .content h1, .text h1, .content1 h1{
        font-size: 22px;
    }
    .text p{
        font-size: 14px;
    }
    .container input{
        font-size: 13px;
        padding: 5px 10px;
        margin: -10px 0px 0px -12px;
    }
    .features{
        transform: scale(.85);
        margin-top: 0;
    }
    .section3{
        height: fit-content;
    }
    .section4{
        margin-top: 0;
    }
    .card{
        transform: scale(.8);
    }
    .info{
        font-size: 12px;
    }
    #copy{
        font-size: 12px;
    }
}